<bid-price-component data-product-id="{{ product.id }}" data-min-price="{% if product.metafields.auction.data.value.current_bid != blank %}{{ product.metafields.auction.data.value.current_bid }}{% else %}{{ product.metafields.auction.data.value.min_price }}{% endif %}">
  {% if product.metafields.auction.data.value.is_active == false %}
    <span data-price-label class="h5">Final bid</span>
    <span class="price-item price-item--regular">
      {{ product.metafields.auction.data.value.current_bid | times: 100.00 | money }}
    </span>
  {% elsif product.metafields.auction.data.value.current_bid == blank %}
    <span data-price-label class="h5">{{ 'child.products.auction.min_price' | t }}</span>
    <span class="price-item price-item--regular">
      {{ product.metafields.auction.data.value.min_price | times: 100.00 | money }}
    </span>
  {% else %}
    <span data-price-label class="h5">{{ 'child.products.auction.current_bid' | t }}</span>
    <span class="price-item price-item--regular">
      {{ product.metafields.auction.data.value.current_bid | times: 100.00 | money }}
    </span>
  {% endif %}
</bid-price-component>
