<auction-provider>
  {% liquid
    assign isSubscribed = false

    for handle in customer.metafields.auction.data.value.subscribed
      if handle == product.handle
        assign isSubscribed = true
      endif
    endfor
  %}
  <script type="application/json">
    {
      "startDate": "{{ product.metafields.auction.data.value.start }}",
      "endDate": "{{ product.metafields.auction.data.value.end }}",
      "productId": {{ product.id }},
      "timezone": "{{ product.metafields.auction.data.value.timezone }}",
      "active": {{ product.metafields.auction.data.value.is_active }},
      "isCustomerLogged": {% if customer != blank %}true{% else %}false{% endif %},
      "min": {% if product.metafields.auction.data.value.current_bid != blank %}{{ product.metafields.auction.data.value.current_bid }}{% else %}{{ product.metafields.auction.data.value.min_price }}{% endif %},
      "priceLabel": "{% if product.metafields.auction.data.value.current_bid != blank %}{{ 'child.products.auction.current_bid' | t }}{% else %}{{ 'child.products.auction.min_price' | t }}{% endif %}",
      "auctionId": {{ product.metafields.auction.data.value.auction_id }},
      "detailId": {% if product.metafields.auction.data.value.detail_id %} {{ product.metafields.auction.data.value.detail_id }} {% else %}null{% endif %},
      "amount": 0,
      "isSubscribed": {{ isSubscribed }},
      "channel": null,
      "customerId": {% if customer != blank %}{{ customer.id }}{% else %}null{% endif %}
    }
  </script>
  {% if product.metafields.auction.data.value.is_active != blank %}
    <countdown-component class="countdown">
      <div class="countdown__days">
        00<span>Days</span>
      </div>
      <div class="countdown__hours">
        00<span>Hours</span>
      </div>
      <div class="countdown__minutes">
        00<span>Minutes</span>
      </div>
      <div class="countdown__seconds">
        00<span>Seconds</span>
      </div>
    </countdown-component>
  {% endif %}

  {% unless product.metafields.auction.data.value.is_active %}
    <div class="u-ml-1">
      <span style="color: var(--color-message-success)" class="caption-large">Auction has finished</span>
    </div>
  {% endunless %}

  <bidder-component data-product-id="{{ product.id }}" data-logged-in="{% if customer != blank %}true{% else %}false{% endif %}" data-min="{% if product.metafields.auction.data.value.current_bid != blank %}{{ product.metafields.auction.data.value.current_bid }}{% else %}{{ product.metafields.auction.data.value.min_price }}{% endif %}" data-price-label="{% if product.metafields.auction.data.value.current_bid != blank %}{{ 'child.products.auction.current_bid' | t }}{% else %}{{ 'child.products.auction.min_price' | t }}{% endif %}">
    <form data-action="bid">
      <input type="hidden" name="product_id" value="{{ product.id }}" />
      <input type="hidden" name="auction_id" value="{{ product.metafields.auction.data.value.auction_id }}" />
      <div class="field">
        <input {% unless product.metafields.auction.data.value.is_active %}disabled {% endunless %} id="BidForm--{{ section.id }}" class="field__input" type="number" name="amount"/>
        <label class="field__label" for="BidForm--{{ section.id }}">
          Amount
        </label>
      </div>
      <div class="field u-mt-1">
      <button {% unless product.metafields.auction.data.value.is_active %}disabled {% endunless %} type="submit" class="button button--secondary button--full-width">
          <span>{{- 'child.products.product.place_bid' | t -}}</span>
          <div class="loading-overlay__spinner hidden">
            <svg
              aria-hidden="true"
              focusable="false"
              class="spinner"
              viewBox="0 0 66 66"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </button>
      </div>
    </form>
    <form data-action="subscribe">
      <input type="hidden" name="channel" value="sms and email" />
      <div class="u-mt-1">
        <button {% if isSubscribed %}aria-label="{{- 'child.products.auction.notification.unsubscribe' | t -}}" data-label-alternative="{{- 'child.products.auction.notification.subscribe' | t -}}"{% else %}aria-label="{{- 'child.products.auction.notification.subscribe' | t -}}" data-label-alternative="{{- 'child.products.auction.notification.unsubscribe' | t -}}"{% endif %} {% unless product.metafields.auction.data.value.is_active %}disabled {% endunless %} type="submit" class="button button--full-width {% if isSubscribed %} button--success {% else %}button--tertiary{% endif %}">
          {% render 'icon-bell' %}
          <span aria-hidden="true" class="u-ml-small">
            {% if isSubscribed %}
              {{- 'child.products.auction.notification.unsubscribe' | t -}}
            {% else %}
              {{- 'child.products.auction.notification.subscribe' | t -}}
            {% endif %}
          </span>
          <div class="loading-overlay__spinner hidden">
            <svg
              aria-hidden="true"
              focusable="false"
              class="spinner"
              viewBox="0 0 66 66"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </button>
      </div>
    </form>
    {% unless customer %}
      <template class="modalTemplate">
        <h2 class="center">Login to your account</h2>
        <div class="rte center">
          <p>Hey! Before placing a bid please <a href="{{ routes.account_login_url }}">login</a> into your account.</p>
          <p><span class="font-body-bold">Don't have an account?</span> don't worry you can create one by clicking <a href="{{ routes.account_register_url }}">here</a></p>
        </div>
      </template>
    {% else %}
      <template class="modalTemplate">
        <h2>Bid Comfirmation</h2>
        <div class="rte">
          <p>By clicking the Confirm Bid button below you are confirming that you want to place a bid of <span class="price-item price-item--regular" id="bidAmount"></span> on this product and agree to our <a href="https://cbbauctions.com/pages/auction-rules">auction rules</a></p>
        </div>
        <br/>
        <div class="right">
          <button class="button button--primary" id="cancelBid">Cancel</button>
          <button class="button button--secondary" id="confirmBid">
            <span>Confirm Bid</span>
            <div class="loading-overlay__spinner hidden">
              <svg
                aria-hidden="true"
                focusable="false"
                class="spinner"
                viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </button>
        </div>
      </template>
    {% endunless %}
  </bidder-component>
</auction-provider>
